.books-page {
  background: rgb(230, 230, 230);
  height: 100%;
  min-height: 100vh;
}
.books {
  transform-style: preserve-3d;
  gap: 3.125rem;
  perspective: 10000px;
  padding: 20px;
  @include flex-center-block;
  flex-wrap: wrap;

  &__book {
    position: relative;
    width: 12.5rem;
    height: 18.75rem;
    box-shadow: 20px 20px 20px rgba(#000000, 0.2);
    transform-style: preserve-3d;
    transition: 0.5s;
    user-select: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    text-align: center;

    &--author {
      position: absolute;
      top: 10px;
      font-size: 0.9rem;
      color: rgb(207, 228, 19);
      margin: 10px;
      max-width: 90%;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      width: 90%;
    }
    &--name {
      position: absolute;
      top: 60px;
      color: white;
      margin: 10px;
      font-size: 1.2rem;
      width: 90%;
    }
    &--year {
      position: absolute;
      display: block;
      bottom: 10px;
      color: white;
      margin: 10px;
      font-size: 0.7rem;
      width: 90%;
    }

    &:hover {
      transform: rotateY(35deg);
      box-shadow: 0px 20px 20px rgba(#000000, 0.2);
    }

    &.active {
      transform: rotateY(180deg);
    }
    &::before {
      content: '';
      position: absolute;
      width: 30px;
      height: 100%;
      transform-origin: left;
      background: url('../assets/img/side.jpg');
      background-position: center;
      transform: rotateY(90deg);
    }

    &--front {
      user-select: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;

      // for case if problem with the image
      background: url('../assets/img/cover.jpg');
      background-size: cover;
    }

    &--back {
      user-select: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transform: rotateY(180deg) translateZ(30px);
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;

      // for case if problem with the image
      background: url('../assets/img/back.jpg');
      background-size: cover;
    }
    &:hover &-favoritesblock {
      opacity: 1;
      transform: rotateY(-10deg) translateZ(20px);
    }

    &-favoritesblock {
      position: absolute;
      opacity: 0;
      bottom: 10px;
      z-index: 200;
      right: 0;
      width: 100%;
      height: auto;
      transition: 0.5s;
    }
    &--favorite {
      position: absolute;
      opacity: 0;
      width: 40px;
      height: 40px;
      cursor: pointer;
    }
    &--favorite:checked + .favorite-icon {
      content: url('../assets/svg/favorite-icon--active.svg');
    }
    .favorite-icon {
      content: url('../assets/svg/favorite-icon--inactive.svg');
    }
    &--delete {
      margin-left: 30px;
    }
  }
}
