.position-relative {
  position: relative;
}

.white {
  color: white;
}

.d-flex {
  display: flex;
}
.justify-content-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.dn {
  display: none !important;
  z-index: -2;
}
