@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Poppins&display=swap');

@import 'mixins.scss';
@import 'command.scss';
@import 'components.scss';
@import 'auth.scss';
@import 'books.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  hyphens: auto;

  /* custom scrollbar */
  &::-webkit-scrollbar {
    background-color: transparent;
    width: 1.1rem;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #a8bbbf;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
  }
}

:root {
  font-size: calc(0.5vw + 10px);
}

body {
  overflow: overlay;
}

button {
  cursor: pointer;
}

a {
  cursor: pointer;
  text-decoration: none;
}

input[type='number'] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
